<cb-modal class="financial-summary-modal" (close)="close()">
    <h1 header>
        {{ summaryTitle }}
    </h1>

    <div class="financial-summary-modal__table cb-scroll">
        <table>
            <thead>
                <tr>
                    <th>CATEGORIA</th>
                    <th>ORÇADO</th>
                    <th>REALIZADO</th>
                    <th>DESVIO (R$)</th>
                    <th>DESVIO (%)</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let category of categories">
                    <td>
                        <cb-category-tag [category]="category"></cb-category-tag>
                    </td>

                    <td>
                        <cb-currency-value [value]="category.budgeted" [digitsInfo]="'1.2'"></cb-currency-value>
                    </td>

                    <td>
                        <cb-currency-value [value]="category.realized_value" [digitsInfo]="'1.2'"></cb-currency-value>
                    </td>

                    <td class="deviation-value" [class.deviation-value--positive]="category.deviation_value > 0"
                        [class.deviation-value--negative]="category.deviation_value < 0">
                        <cb-icon-positive-graph></cb-icon-positive-graph>

                        <cb-icon-negative-graph></cb-icon-negative-graph>

                        <cb-currency-value [value]="category.deviation_value" [digitsInfo]="'1.2'"></cb-currency-value>
                    </td>

                    <td class="percentage-deviation"
                        [class.percentage-deviation--positive]="category.percentage_deviation > 0"
                        [class.percentage-deviation--negative]="category.percentage_deviation < 0">
                        {{ category.percentage_deviation | decimal: "1.2" }}%
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="financial-summary-modal__values">
        <div class="financial-summary-modal__values__total-budgeted">
            <div class="financial-summary-modal__values__total-budgeted__title">
                Total orçado
            </div>

            <p>
                <cb-currency-value [value]="2000000" [digitsInfo]="'1.2'"></cb-currency-value>
            </p>
        </div>

        <div class="financial-summary-modal__values__total-realized">
            <div class="financial-summary-modal__values__total-realized__title">
                Total realizado
            </div>

            <p>
                <cb-currency-value [value]="1786763" [digitsInfo]="'1.2'"></cb-currency-value>
            </p>
        </div>

        <div class="financial-summary-modal__values__total-deviation">
            <div class="financial-summary-modal__values__total-deviation__title">
                Desvio total (R$)
            </div>

            <p>
                <cb-icon-negative-graph></cb-icon-negative-graph>

                <cb-currency-value [value]="213237" [digitsInfo]="'1.2'"></cb-currency-value>
            </p>
        </div>

        <div class="financial-summary-modal__values__percentage-total-deviation">
            <div class="financial-summary-modal__values__percentage-total-deviation__title">
                Desvio total (%)
            </div>

            <p>
                {{ -10.66 | decimal: "1.2" }}%
            </p>
        </div>
    </div>

    <cb-button footer (click)="close()">
        Fechar
    </cb-button>
</cb-modal>