.financial-summary-modal {
  &__table {
    margin-bottom: 24px;

    border: 1px solid #ebe6e7;
    border-radius: 10px;

    overflow: auto;

    & table {
      width: 100%;

      & thead {
        background-color: #fbf9fa;

        border-bottom: 1px solid #ebe6e7;

        & th {
          padding: 12px 16px;

          color: #4a5565;

          font-size: 12px;

          text-align: right;

          &:first-of-type {
            text-align: left;
          }
        }
      }

      & tbody {
        & tr {
          border-bottom: 1px solid #f6f3f4;

          transition: 0.15s cubic-bezier(0.4, 0, 0.2, 1) background-color;

          &:last-of-type {
            border: none;
          }

          &:hover {
            background-color: #fbf9fa;
          }

          & td {
            padding: 16px;

            color: #364153;

            font-size: 14px;

            text-align: right;

            &:first-of-type {
              text-align: left;
            }

            &.deviation-value {
              display: flex;

              align-items: center;
              justify-content: flex-end;

              gap: 4px;

              & cb-icon-positive-graph,
              & cb-icon-negative-graph {
                display: none;

                width: 16px;
                height: 16px;
              }

              &--positive {
                color: #00a63e;

                & cb-icon-positive-graph {
                  display: flex;
                }
              }

              &--negative {
                color: #e7000b;

                & cb-icon-negative-graph {
                  display: flex;
                }
              }
            }

            &.percentage-deviation {
              &--positive {
                color: #00a63e;
              }

              &--negative {
                color: #e7000b;
              }
            }
          }
        }
      }
    }
  }

  &__values {
    display: grid;

    grid-template-columns: repeat(4, minmax(0, 1fr));

    align-items: center;

    gap: 24px;

    padding: 24px;

    border: 1px solid #ebe6e7;
    border-radius: 10px;

    background-color: #fbf9fa;

    &__total-budgeted,
    &__total-realized,
    &__total-deviation,
    &__percentage-total-deviation {
      &__title {
        margin-bottom: 8px;

        color: #6a7282;

        font-size: 12px;

        text-transform: uppercase;
      }

      & p {
        font-size: 20px;
      }
    }

    &__total-budgeted p {
      color: #1e2939;
    }

    &__total-realized p {
      color: #00a63e;
    }

    &__total-deviation p {
      display: flex;

      align-items: center;

      gap: 0.8rem;

      color: #e7000b;

      & cb-icon-negative-graph {
        display: flex;

        vertical-align: middle;

        width: 20px;
        height: 20px;
      }
    }

    &__percentage-total-deviation {
      color: #e7000b;
    }
  }

  @media screen and (max-width: 1099px) {
    &__values {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      gap: 32px 24px;
    }
  }

  @media screen and (max-width: 620px) {
    &__values {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
