.header {
  display: flex;

  gap: 12px;

  align-items: center;
  justify-content: space-between;

  height: 100%;

  padding: 12px 24px;

  border-bottom: 1px solid #e5e7eb;

  background-color: #ffffff;

  &__image {
    height: 36px;

    cursor: pointer;
  }

  &__actions {
    display: flex;

    flex-direction: row;

    align-items: center;

    gap: 12px;

    margin-left: auto;

    &__toggle {
      display: flex;
    }

    &__menu {
      display: none;
    }

    &__feed {
      display: none;
    }

    &::ng-deep .mat-icon {
      display: flex;

      align-items: center;
      justify-content: center;

      width: 20px;
      height: 20px;

      color: #99a1af;
    }
  }

  @media screen and (max-width: 1200px) {
    &__actions {
      &__toggle {
        display: none;
      }

      &__menu {
        display: flex;
      }

      &__feed {
        display: flex;
      }
    }
  }

  @media screen and (max-width: 535px) {
    &__image {
      display: none;
    }
  }

  @media screen and (max-width: 430px) {
    &__actions {
      --button-icon-md-padding: 6px;

      gap: 8px;

      &::ng-deep .mat-icon {
        width: 20px;
        height: 20px;

        font-size: 20px;
      }
    }
  }

  @media print {
    &__actions {
      display: none;
    }
  }
}

.menuNotifications {
  max-height: 90%;
}

.menuItemNotification {
  padding: 0 !important;
  height: auto !important;
}

.cbNotificationItem {
  display: flex;
  border-bottom: 1px solid #eee;
}

.cbNotificationItem:last-child {
  border-bottom: none !important;
}
