<form [formGroup]="userForm" novalidate autocomplete="off">
  <mat-card>
    <div class="row">
      <mat-form-field class="col-md-3">
        <input formControlName="email" matInput placeholder="E-mail*">
        <mat-error>
          Obrigatório, entre 3 e 50 caract.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="col-md-3">
        <input type="password" formControlName="password" matInput placeholder="Senha*">
        <mat-error>
          Obrigatório
        </mat-error>
      </mat-form-field>
    </div>
    <mat-card-actions class="col-md-12 text-right">
      <button class="cb-button" *ngIf="typeForm === 'new'" color="primary" (click)="save(userForm.value)" mat-raised-button>
        SALVAR
      </button>
      <button class="cb-button" *ngIf="typeForm === 'edit' || typeForm === 'profile'" color="primary" (click)="edit(userForm.value, user.id)" mat-raised-button>
        EDITAR
      </button>
    </mat-card-actions>
  </mat-card>
</form>
