<cb-financial-home
  *ngIf="step === financialStep.home"
  [job]="job"
  (stepChange)="stepChange($event)"
></cb-financial-home>

<cb-financial-transaction
  *ngIf="step === financialStep.revenues"
  [job]="job"
  [transactionType]="financialStep.revenues"
  (stepChange)="stepChange($event)"
></cb-financial-transaction>

<cb-financial-transaction
  *ngIf="step === financialStep.expenses"
  [job]="job"
  [transactionType]="financialStep.expenses"
  (stepChange)="stepChange($event)"
></cb-financial-transaction>
