<div
  class="select"
  [class.select--empty]="isEmpty"
  [class.select--has-error]="hasError"
  [class.select--open]="isOpen"
  [class.select--disabled]="isDisabled"
  [class.select--open-upwards]="openUpwards"
>
  <button
    #trigger
    type="button"
    class="select__trigger"
    [disabled]="isDisabled"
    (keydown)="handleTriggerKeydown($event)"
    (click)="toggleOpen()">
    <span class="select__value">{{ selectedLabel }}</span>
    <span class="select__arrow">▾</span>
  </button>

  <div class="select__dropdown" [ngStyle]="dropdownStyles" *ngIf="isOpen">
    <input
      *ngIf="showFilter"
      #searchInput
      type="text"
      class="select__search"
      [placeholder]="'Filtrar ' + placeholder.toLowerCase()"
      (keydown)="handleSearchKeydown($event)"
      (ngModelChange)="onSearchTermChange()"
      [(ngModel)]="searchTerm" />

    <button
      type="button"
      class="select__option"
      *ngFor="let option of filteredOptions; let i = index"
      [class.select__option--selected]="isSelected(option)"
      [class.select__option--highlighted]="isHighlighted(i)"
      (click)="selectValue(option)">
      {{ getOptionLabel(option) }}
    </button>

    <p class="select__empty-state" *ngIf="filteredOptions.length === 0">
      Nenhuma opção encontrada
    </p>

    <ng-content select="[select-action]"></ng-content>

    <button
      type="button"
      class="select__action-button"
      *ngIf="actionButtonLabel"
      (click)="onActionButtonClick()">
      {{ actionButtonLabel }}
    </button>
  </div>
</div>