.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;

  padding: 8px 12px;

  border-radius: 4px;
  border: 1px solid var(--color-gray-300);

  font-size: 14px;

  line-height: 1.465;

  &:focus {
    box-shadow: 0 0 0 calc(2px) var(--color-blue-500);
  }

  &--empty {
    color: var(--color-gray-400);
  }

  &--has-error {
    box-shadow: 0 0 0 calc(2px) var(--color-red-500) !important;
  }

  &__placeholder {
    color: var(--color-gray-400);
  }

  &__option {
    color: #000000de;
  }
}
