@import url('../../../check-in/check-in.component.scss');

$border: 1px solid #ccc;

.check-in-header-title {
    display: flex;

    align-items: center;

    gap: 1rem;

    & span {
        font-weight: lighter;
        font-size: 12px;
        color: #AAA;
    }
}

.check-in-accordion {
    & ::ng-deep .mat-expanded .mat-expansion-panel-header,
    & ::ng-deep .mat-expansion-panel-header {
        border-top: $border;
        border-bottom: none;
    }

    &--last ::ng-deep .mat-expanded .mat-expansion-panel-header,
    &--last ::ng-deep .mat-expansion-panel-header {
        border-top: $border;
        border-bottom: $border;
    }
}

.check-in-accordion ::ng-deep .mat-expansion-panel-body {
    overflow: hidden !important;
}

.check-in-accordion--last .accept-approval {
    border-top: none !important;
}

.accept-approval {
    border-top: $border;
}

.extras-grid ::ng-deep .mat-checkbox-layout {
    margin: 0 !important;
}

.extras-grid ::ng-deep .mat-checkbox-inner-container {
    width: 14px;
    height: 14px;
}

.extras-grid ::ng-deep .mat-checkbox-frame {
    border-width: 1px;
}

.extras-grid ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: transparent !important;
}

.extras-grid ::ng-deep .mat-checkbox-checked .mat-checkbox-checkmark-path {
    stroke: #008000 !important;
}

.check-in-accordion {
    padding-bottom: 1px;
}

.accept-client,
.send-email {
    border-bottom: none;
}

.check-in-grid-left.accept-approval,
.check-in-grid-right.accept-approval {
    border-bottom: none;
}

.check-in-grid-left.accept-approval .check-in-row,
.accept-client .check-in-row {
    display: grid;

    grid-template-columns: 205px 100px 1fr;
}

.check-in-grid-left.accept-approval .check-in-row .check-in-cell:nth-child(2),
.accept-client .check-in-row .check-in-cell:nth-child(2) {
    justify-content: flex-end;

    border-right: $border;
}

.send-email .check-in-row {
    border-bottom: none !important;
}

.send-email .check-in-row {
    display: grid;

    grid-template-columns: 1fr !important;
}

.send-email .check-in-row .check-in-cell {
    justify-content: flex-end;

    cursor: pointer;
}

.send-email .check-in-row .check-in-cell a {
    display: flex;

    align-items: center;
    justify-content: center;
}

.send-email .check-in-row .check-in-cell mat-icon {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 14px;
    height: 14px;

    margin-left: 0.35rem;

    transform: rotateZ(315deg);

    font-size: 14px;
}

.send-email .check-in-row .check-in-cell:hover {
    opacity: 0.75;
}

.extras-left .check-in-row {
    display: grid;
    
    grid-template-columns: 120px 40px 100px 1fr 1fr;
}

.extras-left .check-in-row:nth-child(1) {
    border-bottom: $border;
}

.extras-left .check-in-cell:nth-child(1),
.extras-left .check-in-cell:nth-child(2),
.extras-left .check-in-cell:nth-child(3),
.extras-left .check-in-cell:nth-child(4) {
    border-right: $border;
}

.extras-left .check-in-row:nth-child(1) .check-in-cell:nth-child(1),
.extras-left .check-in-row:nth-child(1) .check-in-cell:nth-child(2),
.extras-left .check-in-row:nth-child(1) .check-in-cell:nth-child(3),
.extras-left .check-in-row:nth-child(1) .check-in-cell:nth-child(4) {
    border-right: 0;
}

.check-in-grid-left,
.check-in-grid-right {
    display: grid;

    grid-template-rows: 30px auto;
}

.check-in-grid-right .check-in-row {
    display: grid;

    grid-template-columns: repeat(6, 1fr);
}

.check-in-grid-right .check-in-row:nth-child(1) {
    border-bottom: $border;
}

.list .check-in-row:nth-child(1) {
    border-bottom: 0;
}

.list .check-in-row .check-in-cell:nth-child(1),
.list .check-in-row .check-in-cell:nth-child(2),
.list .check-in-row .check-in-cell:nth-child(3),
.list .check-in-row .check-in-cell:nth-child(4),
.list .check-in-row .check-in-cell:nth-child(5) {
    border-right: $border;
}

.content-list {
    display: flex;

    flex-direction: column;

    justify-content: space-between;
}

.content-bottom {
    padding: 3px 8px;

    font-size: 10.5px;
    
    text-align: end;
}

.total-value {
    border-top: 0;
}

.total-value .check-in-row {
    display: grid;

    grid-template-columns: 150px auto;

    border-bottom: 0;
}

.total-value .check-in-row .check-in-cell:nth-child(1) {
    border-right: $border;
}

.extra-value {
    border-top: 0;
}

.extra-value .check-in-row {
    display: grid;

    grid-template-columns: auto 1fr;

    border-bottom: 0 !important;
}

.extra-value .check-in-row .check-in-cell:nth-child(2) {
    justify-content: flex-end;
}

.accept {
    &--0,
    &--1,
    &--2 {
        display: flex;

        align-items: center;
        justify-content: flex-start;
        
        gap: 0.25rem;

        overflow: hidden;

        font-weight: 500;
    }

    &--0 {
        color: #bd0000;
    }
    
    &--1 {
        color: #008900;
    }
    
    &--2 {
        color: #e67300;
    }
}
