<mat-menu #menu="matMenu">
    <ng-template matMenuContent let-item="item">
        <button (click)="edit(item)" mat-menu-item>
          <mat-icon>mode_edit</mat-icon> Editar
        </button>

        <button (click)="delete(item)" mat-menu-item>
          <mat-icon>delete</mat-icon> Remover
        </button>
    </ng-template>
</mat-menu>

<mat-accordion class="check-in-accordion extras-grid"
    [class.check-in-accordion--last]="last">

    <mat-expansion-panel hideToggle [expanded]="first">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">
                    Versão {{ index < 10 ? ('0' + index) : index }} do(s) extra(s)

                    <span *ngIf="extra.updated_by && extra.updated_at">
                        {{ getEmployeeName(extra.updated_by) || '-' }} | {{ extra.updated_at | date: 'dd/MM/yyyy HH:mm' }}
                    </span>
                </h6>
            
                <div class="check-in-header-right">
                    {{ valorTotalExtrasRecebido | currency: 'BRL' }}

                    <mat-icon>keyboard_arrow_down</mat-icon>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">
            <div class="check-in-grid-left accept-approval">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('approval', extra.approval || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ extra.approval || 0 }}"
                                [title]="label"
                                (click)="approvalSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #approvalSelect
                                    [disabled]="employeeId != job.attendance.id"
                                    [(ngModel)]="extra.approval"
                                    (ngModelChange)="updateAlertDateApproval()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="(job && job.attendance && job.attendance.id ? getEmployeeName(job.attendance.id) : '') as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (extra.approval_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right accept-approval">
            </div>

            <div class="check-in-grid-left accept-client">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('client', extra.accept_client || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ extra.accept_client || 0 }}"
                                (click)="acceptClientSelect.open()">
                                <span class="text-ellipsis"
                                    [title]="label">
                                    {{ label }}
                                </span>

                                <mat-icon *ngIf="extra.accept_client === 2 && extra.reason_for_rejection"
                                    class="client-refuse"
                                    matTooltipClass="client-refuse-tooltip"
                                    matTooltipPosition="above"
                                    [matTooltip]="'Motivo de recusa: ' + extra.reason_for_rejection">
                                    info
                                </mat-icon>

                                <mat-select class="select-hidden col-md-3" #acceptClientSelect
                                    [(ngModel)]="extra.accept_client"
                                    (ngModelChange)="updateAlertDateAcceptClient()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id"
                                        [disabled]="accept.id != 0">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getClientName() as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (extra.accept_client_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>
            </div>

            <div class="check-in-grid-right send-email">
                <div class="check-in-row">
                    <div class="check-in-cell">
                        <a *ngIf="extra.accept_client == 0"
                            (click)="sendEmail()">
                            Enviar e-mail para aceite de cliente
                            
                            <mat-icon>send</mat-icon>
                        </a>
                    </div>
                </div>
            </div>

            <div class="check-in-grid-left extras-left" style="min-height: 90px;">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        ITEM
                    </div>

                    <div class="check-in-cell" title="Quantidade">
                        QTD
                    </div>

                    <div class="check-in-cell">
                        VALOR
                    </div>

                    <div class="check-in-cell">
                        SOLICITANTE
                    </div>

                    <div class="check-in-cell">
                        ORÇAMENTO
                    </div>
                </div>

                <div *ngFor="let item of items" class="check-in-row cursor-pointer">
                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ item: item }">
                        {{ item.description }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ item: item }">
                        {{ item.quantity || 1 }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ item: item }">
                        {{ item.value | currency: 'BRL' }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ item: item }">
                        {{ item && item.requester_object ? item.requester_object.name : '' }}
                    </div>

                    <div class="check-in-cell"
                        [matMenuTriggerFor]="menu"
                        [matMenuTriggerData]="{ item: item }">
                        {{ item && item.budget_object ? item.budget_object.name : '' }}
                    </div>
                </div>

                <a class="icon-button" style="margin: 3px 8px; margin-right: auto;" mat-button (click)="openModalExtra()">
                    <mat-icon>add</mat-icon>
                </a>
        
            </div>

            <div class="check-in-grid-right extras-right">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        APROVAÇÃO
                    </div>

                    <div class="check-in-cell">
                        COMISSÃO EXTRA
                    </div>

                    <div class="check-in-cell">
                        FATURAMENTO
                    </div>

                    <div class="check-in-cell">
                        DATA
                    </div>

                    <div class="check-in-cell">
                        VENCIMENTO
                    </div>

                    <div class="check-in-cell">
                        QUITAÇÃO
                    </div>
                </div>

                <div class="content-list">
                    <div class="list">
                        <div *ngFor="let item of items" class="check-in-row cursor-pointer">
                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ item: item }">
                                {{ item.approval_date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ item: item }">
                                {{ item.item_commission }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ item: item }">
                                {{ item && item.billing_employee_object ? item.billing_employee_object.name : '' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ item: item }">
                                {{ item.date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ item: item }">
                                {{ item.due_date | date: 'dd MMMM yyyy' }}
                            </div>

                            <div class="check-in-cell"
                                [matMenuTriggerFor]="menu"
                                [matMenuTriggerData]="{ item: item }">
                                {{ item.settlement_date | date: 'dd MMMM yyyy' }}
                            </div>
                        </div>
                    </div>

                    <!-- <div class="content-bottom">
                        Aprovado Rodolfo Morales 15 jun 2024 | Desconto/Juros R$ 1.000,00
                    </div> -->
                </div>

            </div>

            <div class="check-in-grid-left total-value">
                <div class="check-in-row">
                    <div class="check-in-cell">VALOR TOTAL EXTRAS</div>
                    
                    <div class="check-in-cell">{{ valorTotalExtras | currency: 'BRL' }}</div>
                </div>
            </div>
        
            <div class="check-in-grid-right extra-value">
                <div class="check-in-row">
                    <div class="check-in-cell">VALOR TOTAL EXTRAS RECEBIDO</div>
                    
                    <div class="check-in-cell">{{ valorTotalExtrasRecebido | currency: 'BRL' }}</div>
                </div>
            </div>

        </div>

        <cb-check-in-obs name="extras_obs" id="extras_obs"
            [(ngModel)]="extra.obs"
            (ngModelChange)="changeObs()"
            [borderBottom]="last">
        </cb-check-in-obs>
        
    </mat-expansion-panel>

</mat-accordion>