<div class="notification-item" (click)="goTo(userNotification?.notification)">
  <div class="notification-item__image"
    [ngStyle]="{ 'background-image': userNotification?.notification?.notifier?.image }">
  </div>

  <div class="notification-item__container">
    <h4 class="notification-item__container__title">
      {{ userNotification?.notification?.notifier?.name }}

      <span>{{ userNotification?.notification?.date | date: "dd/MM/yyyy H:mm" }}</span>
    </h4>

    <p
      *ngIf="userNotification?.notification?.type?.description"
      class="notification-item__container__type">
      {{ userNotification?.notification?.type?.description }}
    </p>

    <p
      *ngIf="userNotification?.special == 0"
      class="notification-item__container__message">
      {{ userNotification?.notification?.message }}
    </p>

    <p
      *ngIf="userNotification?.special == 1"
      class="notification-item__container__message">
      {{ userNotification?.special_message }}
    </p>
  </div>
</div>