<section class="financial-revenues">
    <div class="financial-revenues__tabs">
        <a tabindex="0" class="financial-revenues__tabs__tab" (click)="toHome()" (keyup.enter)="toHome()">
            <span>
                Financeiro
            </span>

            <cb-icon-arrow-right></cb-icon-arrow-right>

            <span>
                Início
            </span>
        </a>

        <span class="financial-revenues__tabs__current-tab">
            <cb-icon-arrow-right></cb-icon-arrow-right>

            Controle de Receitas
        </span>
    </div>

    <h2 class="financial-revenues__title">
        Controle de Receitas
    </h2>

    <div class="financial-revenues__total">
        <div class="financial-revenues__total__description">
            <p>Total de Receitas</p>

            <div class="financial-revenues__total__description__value">
                <cb-currency-value [value]="19813" [digitsInfo]="'1.2'"></cb-currency-value>

                <cb-value-visibility-control></cb-value-visibility-control>
            </div>

            <span>10 lançamentos</span>
        </div>

        <div class="financial-revenues__total__buttons">
            <cb-button (click)="print()">
                <cb-icon-print iconStart></cb-icon-print>

                Imprimir
            </cb-button>

            <cb-button>
                <cb-icon-download iconStart></cb-icon-download>

                Exportar
            </cb-button>

            <cb-button theme="info">
                <cb-icon-add iconStart></cb-icon-add>

                Nova Receita
            </cb-button>
        </div>
    </div>

    <div class="financial-revenues__filter">
        <cb-search placeholder="Buscar por descrição..."></cb-search>

        <div class="financial-revenues__filter__buttons">

            <cb-button>
                <cb-icon-calendar iconStart></cb-icon-calendar>

                Período

                <cb-icon-arrow-down iconEnd></cb-icon-arrow-down>
            </cb-button>

            <cb-button (click)="filter()">
                <cb-icon-filter iconStart></cb-icon-filter>

                Filtros

                <cb-icon-arrow-down iconEnd></cb-icon-arrow-down>
            </cb-button>

            <cb-button (click)="openSummaryModal()">
                <cb-icon-menu iconStart></cb-icon-menu>

                Resumo
            </cb-button>
        </div>
    </div>

    <div class="financial-revenues__table">
        <table>
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>DATA VENCIMENTO</th>
                    <th>DESCRIÇÃO</th>
                    <th>CATEGORIA</th>
                    <th>FORMA DE PAGAMENTO</th>
                    <th>CONTA</th>
                    <th>STATUS</th>
                    <th class="text-right">VALOR</th>
                </tr>
            </thead>

            <tbody>
                <tr tabindex="0" *ngFor="let revenue of revenues">
                    <td>
                        {{ revenue.date | date: 'dd/MM/yyyy' }}
                    </td>

                    <td>
                        {{ revenue.due_date | date: 'dd/MM/yyyy' }}
                    </td>

                    <td class="description">
                        {{ revenue.description }}
                    </td>

                    <td class="category">
                        <cb-category-tag [category]="revenue.category"></cb-category-tag>
                    </td>

                    <td class="payment-method">
                        {{ revenue.payment_method }}
                    </td>

                    <td class="account">
                        {{ revenue.account }}
                    </td>

                    <td class="status">
                        <span class="status__element status__element--{{revenue.status.id}}">
                            {{ revenue.status.description }}
                        </span>
                    </td>

                    <td class="value">
                        <cb-currency-value [value]="revenue.value" [digitsInfo]="'1.2'"></cb-currency-value>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="financial-revenues__summary">
        <div class="financial-revenues__summary__top">
            <span>Mostrando 10 de 10 receitas</span>

            <div class="financial-revenues__summary__top__total">
                <span>Total Realizado:</span>

                <cb-currency-value [value]="75500" [digitsInfo]="'1.2'"></cb-currency-value>
            </div>
        </div>

        <div class="financial-revenues__summary__to-receive">
            <span>À Receber:</span>

            <cb-currency-value [value]="892450" [digitsInfo]="'1.2'"></cb-currency-value>
        </div>

        <div class="financial-revenues__summary__forecast">
            <span>Previsto:</span>

            <cb-currency-value [value]="968000" [digitsInfo]="'1.2'"></cb-currency-value>
        </div>
    </div>
</section>