<div class="bank-accounts">
  <div
    *ngIf="open"
    class="bank-accounts__backdrop"
    (click)="closePanel()"
  ></div>

  <aside
    *ngIf="open"
    class="bank-accounts__panel"
  >
    <header class="bank-accounts__panel__header">
      <h3 class="bank-accounts__panel__title">Contas bancárias</h3>

      <cb-icon-button
        type="button"
        size="lg"
        [rounded]="true"
        class="bank-accounts__panel__close"
        (click)="closePanel()"
        aria-label="Fechar contas bancárias"
      >
        <cb-icon-close></cb-icon-close>
      </cb-icon-button>
    </header>

    <div class="bank-accounts__panel__body cb-scroll">
      <button
        type="button"
        class="bank-accounts__new-button"
        (click)="createAccount()"
      >
        + Cadastrar conta bancária
      </button>

      <cb-search
        [formControl]="searchControl"
        [autoFocus]="true"
        placeholder="Pesquisar conta bancária"
      ></cb-search>

      <div
        class="bank-accounts__list"
        role="listbox"
        aria-label="Lista de contas bancárias"
      >
        <div
          #accountRow
          class="bank-accounts__item"
          *ngFor="let account of accounts; let i = index; trackBy: trackByAccountId"
          role="option"
          [attr.aria-selected]="isSelected(account)"
          [class.bank-accounts__item--selected]="isSelected(account)"
          [class.bank-accounts__item--keyboard-focus]="activeListIndex === i"
          (click)="selectAccount(account)"
        >
          <div class="bank-accounts__item__main">
            <cb-bank-image [bank]="account.bank && account.bank.code ? account.bank.code : bankEnum.default"></cb-bank-image>

            <div class="bank-accounts__item__content">
              <span class="bank-accounts__item__name">{{ account.name }}</span>

              <span class="bank-accounts__item__account">Ag. {{ account.agency }} - Conta {{ account.account_number }}</span>
            </div>
          </div>

          <div
            class="bank-accounts__item__actions"
            (click)="$event.stopPropagation()"
          >
            <button
              type="button"
              class="bank-accounts__link"
              (click)="editAccount(account)"
            >
              Editar
            </button>

            <button
              type="button"
              class="bank-accounts__link bank-accounts__link--danger"
              (click)="deleteAccount(account)"
            >
              Excluir
            </button>
          </div>
        </div>

        <p
          *ngIf="!listLoading && !accounts.length"
          class="bank-accounts__empty"
        >
          Nenhuma conta bancária cadastrada.
        </p>

        <p
          *ngIf="listLoading"
          class="bank-accounts__empty"
        >
          Carregando contas...
        </p>
      </div>

      <div class="bank-accounts__pagination">
        <span>{{ pagination.from }} - {{ pagination.to }} de {{ pagination.total }}</span>
        <div>
          <cb-icon-button
            size="sm"
            [disabled]="pagination.current_page <= 1 || listLoading"
            (click)="previousPage()"
          >
            <cb-icon-arrow-left icon></cb-icon-arrow-left>
          </cb-icon-button>
          <cb-icon-button
            size="sm"
            [disabled]="!hasNextPage || listLoading"
            (click)="nextPage()"
          >
            <cb-icon-arrow-right icon></cb-icon-arrow-right>
          </cb-icon-button>
        </div>
      </div>
    </div>
  </aside>
</div>
