<h1 mat-dialog-title class="p-0">{{ title }}</h1>
<mat-dialog-content class="mat-typography" [class.center]="chartType != EChartType.TENDENCIA">
  <div class="animate__animated animate__zoomIn" id="chart" [ngSwitch]="chartType">

    <apx-chart
      *ngSwitchCase="EChartType.JOBS"
      [series]="chartOptionsPieJobs.series"
      [chart]="chartOptionsPieJobs.chart"
      [labels]="chartOptionsPieJobs.labels"
      [legend]="chartOptionsPieJobs.legend"
      [dataLabels]="chartOptionsPieJobs.dataLabels"
      [fill]="chartOptionsPieJobs.fill"
      [states]="chartOptionsPieJobs.states"
      [plotOptions]="chartOptionsPieJobs.plotOptions"
      [stroke]="chartOptionsPieJobs.stroke"
      [theme]="chartOptionsPieJobs.theme"
      [responsive]="chartOptionsPieJobs.responsive"
      [colors]="chartOptionsPieJobs.colors"
      [tooltip]="chartOptionsPieJobs.tooltip"
    ></apx-chart>

    <apx-chart
      *ngSwitchCase="EChartType.JOBS2"
      [series]="chartOptionsPie.series"
      [chart]="chartOptionsPie.chart"
      [labels]="chartOptionsPie.labels"
      [dataLabels]="chartOptionsPie.dataLabels"
      [fill]="chartOptionsPie.fill"
      [legend]="chartOptionsPie.legend"
      [states]="chartOptionsPie.states"
      [colors]="chartOptionsPie.colors"
      [plotOptions]="chartOptionsPie.plotOptions"
      [stroke]="chartOptionsPie.stroke"
      [theme]="chartOptionsPie.theme"
      [responsive]="chartOptionsPie.responsive"
      [tooltip]="chartOptionsPie.tooltip"
    ></apx-chart>

    <apx-chart
      *ngSwitchCase="EChartType.TENDENCIA"
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [yaxis]="chartOptions.yaxis"
      [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [stroke]="chartOptions.stroke"
      [tooltip]="chartOptions.tooltip"
    ></apx-chart>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>