.kanban-card {
  width: 100%;
  min-height: 210px;

  padding: 0.5rem 0.6rem;

  border: 1px solid #c7c7c7;
  border-radius: 10px;

  background-color: #ffffff;

  &__header {
    display: flex;

    align-items: center;
    justify-content: space-between;

    gap: 0.75rem;

    margin-bottom: 1rem;

    & h6 {
      padding: 0;

      font-weight: lighter;
      font-size: 0.95rem;
    }

    & a {
      font-size: 0.95rem;

      cursor: pointer;

      & mat-icon {
        width: 18px;
      }
    }
  }

  &__grid {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 0.5rem;
  }

  &__group {
    display: flex;

    flex-direction: column;

    align-items: flex-start;
    justify-content: center;

    margin-top: 0.5rem;

    &__label {
      font-size: 0.6rem;
      font-weight: 500;
    }

    &__text {
      width: 100%;

      font-size: 0.75rem;
      font-weight: lighter;
    }
  }

  &__status__badge-creation,
  &__status__badge-production {
    display: inline-block;

    margin-top: 1rem;
    margin-bottom: 0.25rem;

    padding: 0.2rem 0.65rem;

    border-radius: 20px;

    color: #ffffff;

    font-size: 0.7rem;
    font-weight: 500;

    &--1 {
      background-color: #555555;
    }

    &--2 {
      background-color: #d4b100;
    }

    &--3 {
      background-color: #0048e2;
    }

    &--4 {
      background-color: #e20000;
    }

    &--5 {
      background-color: #00b31b;
    }
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
