<mat-accordion class="check-in-accordion">

    <mat-expansion-panel hideToggle [expanded]="true" [disabled]="true">
        
        <mat-expansion-panel-header>

            <div class="check-in-header">
                <h6 class="check-in-header-title">Aprovação:</h6>
            
                <div class="check-in-header-right"
                    [class.lock]="checkInModel && checkInModel.accept_client"
                    [style.fontSize.rem]="1.45">
                    <div class="center-items">
                        <span class="approval-items position-relative text-ellipsis text-center cursor-pointer" style="width: 100%;"
                            [title]="project ? 'Versão do Projeto: ' + taskService.jobDisplay(project) : 'Versão do Projeto'"
                            (click)="projectSelect.open()">
                            {{ project ? taskService.jobDisplay(project) : 'Versão do Projeto' }}

                            <mat-select class="select-hidden col-md-3" #projectSelect
                                [(ngModel)]="checkInModel.project"
                                (ngModelChange)="projectChanged()">
                                <mat-option *ngFor="let project of projects"
                                    [value]="project.id">
                                    {{ taskService.jobDisplay(project) }}
                                </mat-option>
                            </mat-select>
                        </span>

                        <div class="approval-logs text-ellipsis">
                            {{ (checkInModel.project_change_date ? projectChange : '-') }}
                        </div>
                    </div>
                    |
                    <div class="center-items">
                        <div class="d-flex flex-row" style="width: 100%;">
                            <mat-icon *ngIf="checkInModel && checkInModel.accept_client" class="icon-lock">lock</mat-icon>

                            <span class="approval-items position-relative text-ellipsis text-center cursor-pointer"
                                [title]="memorial ? 'Memorial: ' + taskService.jobDisplay(memorial) : 'Memorial'"
                                (click)="checkInModel && checkInModel.accept_client ? null : memorialSelect.open()">
                                {{ memorial ? taskService.jobDisplay(memorial) : 'Memorial' }}

                                <mat-select class="select-hidden col-md-3" #memorialSelect
                                    [(ngModel)]="checkInModel.memorial"
                                    (ngModelChange)="memorialChanged()">
                                    <mat-option *ngFor="let memorial of memorials"
                                        [value]="memorial.id">
                                        {{taskService.jobDisplay(memorial)}}
                                    </mat-option>
                                </mat-select>
                            </span>
                        </div>

                        <div class="approval-logs text-ellipsis">
                            {{ (checkInModel.memorial_change_date ? memorialChange : '-') }}
                        </div>
                    </div>
                    |
                    <div class="center-items">
                        <div class="d-flex flex-row" style="width: 100%;">
                            <mat-icon *ngIf="checkInModel && checkInModel.accept_client" class="icon-lock">lock</mat-icon>

                            <span class="approval-items position-relative text-ellipsis text-center cursor-pointer"
                                [title]="budget ? 'Orçamento: ' + taskService.budgetDisplay(budget) : 'Orçamento'"
                                (click)="checkInModel && checkInModel.accept_client ? null : budgetSelect.open()">
                                {{ budget ? taskService.budgetDisplay(budget) : 'Orçamento' }}

                                <mat-select class="select-hidden col-md-3" #budgetSelect
                                    [(ngModel)]="checkInModel.budget"
                                    (ngModelChange)="budgetChanged()">
                                    <mat-option *ngFor="let budget of budgets"
                                        [value]="budget.id">
                                        {{taskService.budgetDisplay(budget)}}
                                    </mat-option>
                                </mat-select>
                            </span>
                        </div>

                        <div class="approval-logs text-ellipsis">
                            {{ (checkInModel.budget_change_date ? budgetChange : '-') }}
                        </div>
                    </div>
                </div>
            </div>

        </mat-expansion-panel-header>

        <div class="check-in-grid">
            <div class="check-in-grid-left aprovacao">

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('client', checkInModel.accept_client || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.accept_client || 0 }}"
                                (click)="acceptClientSelect.open()">
                                <span class="text-ellipsis"
                                    [title]="label">
                                    {{ label }}
                                </span>

                                <mat-icon *ngIf="checkInModel.accept_client === 2 && checkInModel.reason_for_rejection"
                                    class="client-refuse"
                                    matTooltipClass="client-refuse-tooltip"
                                    matTooltipPosition="above"
                                    [matTooltip]="'Motivo de recusa: ' + checkInModel.reason_for_rejection">
                                    info
                                </mat-icon>

                                <mat-select class="select-hidden col-md-3" #acceptClientSelect
                                    [(ngModel)]="checkInModel.accept_client"
                                    (ngModelChange)="updateAlertDateAcceptClient()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id"
                                        [disabled]="accept.id != 0">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getClientName() as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div *ngIf="checkInModel.accept_client; else sendEmailTemplate" class="check-in-cell">
                        {{ (checkInModel.accept_client_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>

                    <ng-template #sendEmailTemplate>
                        <div class="check-in-cell send-email">
                            <a (click)="sendEmail()">
                                Enviar e-mail

                                <mat-icon>send</mat-icon>
                            </a>
                        </div>
                    </ng-template>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('approval', checkInModel.approval || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.approval || 0 }}"
                                [title]="label"
                                (click)="approvalSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #approvalSelect
                                    [disabled]="employeeId != job.attendance.id"
                                    [(ngModel)]="checkInModel.approval"
                                    (ngModelChange)="updateAlertDateApproval()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="(job && job.attendance && job.attendance.id ? getEmployeeName(job.attendance.id) : '') as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.approval_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('proposal', checkInModel.accept_proposal || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.accept_proposal || 0 }}"
                                [title]="label"
                                (click)="acceptProposalSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #acceptProposalSelect
                                    [disabled]="employeeId != 11"
                                    [(ngModel)]="checkInModel.accept_proposal"
                                    (ngModelChange)="updateAlertDateAcceptProposal()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getEmployeeName(checkInModel.accept_proposal_employee_id || 11) as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.accept_proposal_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('production', checkInModel.accept_production || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.accept_production || 0 }}"
                                [title]="label"
                                (click)="acceptProductionSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #acceptProductionSelect
                                    [disabled]="employeeId != 20"
                                    [(ngModel)]="checkInModel.accept_production"
                                    (ngModelChange)="updateAlertDateAcceptProduction()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getEmployeeName(checkInModel.accept_production_employee_id || 20) as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.accept_production_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('board', checkInModel.board_approval || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.board_approval || 0 }}"
                                [title]="label"
                                (click)="boardApprovalSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #boardApprovalSelect
                                    [disabled]="employeeDepartment != 1"
                                    [(ngModel)]="checkInModel.board_approval"
                                    (ngModelChange)="updateAlertDateBoardApproval()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getEmployeeName(checkInModel.board_approval_employee_id || 1) as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.board_approval_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>

                <div class="check-in-row">
                    <div class="check-in-cell">
                        <ng-container *ngIf="getAcceptLabel('financial', checkInModel.financial_acceptance || 0) as label">
                            <div class="position-relative cursor-pointer accept--{{ checkInModel.financial_acceptance || 0 }}"
                                [title]="label"
                                (click)="financialAcceptanceSelect.open()">
                                <span class="text-ellipsis">{{ label }}</span>

                                <mat-select class="select-hidden col-md-3" #financialAcceptanceSelect
                                    [disabled]="employeeDepartment != 6"
                                    [(ngModel)]="checkInModel.financial_acceptance"
                                    (ngModelChange)="updateAlertDateFinancialAcceptance()">
                                    <mat-option *ngFor="let accept of acceptList"
                                        [value]="accept.id">
                                        {{ accept.label }}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        <ng-container *ngIf="getEmployeeName(checkInModel.financial_acceptance_employee_id || 53) as employeeName">
                            <span class="text-ellipsis" [title]="employeeName || '-'">{{ employeeName }}</span>
                        </ng-container>
                    </div>

                    <div class="check-in-cell">
                        {{ (checkInModel.financial_acceptance_date | date: 'dd/MM/yyyy HH:mm') || '-' }}
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right organizadora-promotora">

                <div class="organizadora">
                    <div class="check-in-row header">
                        <div class="check-in-cell">
                            {{ getEmployeeName(checkInModel.organization_changed_by) }}
                        </div>

                        <div class="check-in-cell">
                            {{ checkInModel.organization_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                        </div>

                        <div class="check-in-cell">
                            ORGANIZADORA
                        </div>

                        <div class="check-in-cell">
                            LOGIN
                        </div>

                        <div class="check-in-cell">
                            SENHA
                        </div>
                    </div>

                    <div class="check-in-row data">
                        <div class="check-in-cell">
                            <a class="icon-button" mat-button (click)="openModalOrganizationForm()">
                                <mat-icon>add</mat-icon>
                            </a>

                            <span class="position-relative text-ellipsis cursor-pointer"
                                [title]="organization.name || 'Organizadora'"
                                (click)="organizationMatSelect.open()">
                                {{ organization.name || 'Selecionar organizadora' }}

                                <mat-select class="select-hidden col-md-3" #organizationMatSelect
                                    [(ngModel)]="checkInModel.organization_id"
                                    (ngModelChange)="updateOrganization()">
                                    <mat-option *ngFor="let organization of organizations"
                                        [value]="organization.id"
                                        [title]="organization.name">
                                        {{ organization.name }}
                                    </mat-option>
                                </mat-select>
                            </span>
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.organization_login"
                                (ngModelChange)="updateOrganization()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.organization_password"
                                (ngModelChange)="updateOrganization()"
                            />
                        </div>
                    </div>
                </div>

                <div class="promotora">
                    <div class="check-in-row header">
                        <div class="check-in-cell">
                            {{ getEmployeeName(checkInModel.promoter_changed_by) }}
                        </div>

                        <div class="check-in-cell">
                            {{ checkInModel.promoter_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                        </div>

                        <div class="check-in-cell">
                            PROMOTORA
                        </div>

                        <div class="check-in-cell">
                            LOGIN
                        </div>

                        <div class="check-in-cell">
                            SENHA
                        </div>
                    </div>

                    <div class="check-in-row data">
                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_name"
                                (change)="updatePromoter()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_login"
                                (change)="updatePromoter()"
                            />
                        </div>

                        <div class="check-in-cell">
                            <input type="text"
                                [(ngModel)]="checkInModel.promoter_password"
                                (change)="updatePromoter()"
                            />
                        </div>
                    </div>
                </div>

            </div>

            <div class="check-in-grid-left area">

                <div class="check-in-row header">
                    <div class="check-in-cell">
                        {{ job && job.job_type_id !== 1 ? 'ÁREA (M2)' : 'MOMENTOS' }}
                    </div>

                    <div class="check-in-cell">
                        CONFIGURAÇÃO
                    </div>

                    <div class="check-in-cell">
                        LOCALIZAÇÃO
                    </div>
                    
                    <div class="check-in-cell">
                        PAVILHÃO
                    </div>
                </div>

                <div class="check-in-row data">
                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.area" />
                    </div>

                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.config" />
                    </div>

                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.location" />
                    </div>
                    
                    <div class="check-in-cell">
                        <input type="text" [(ngModel)]="checkInModel.pavilion" />
                    </div>
                </div>

            </div>

            <div class="check-in-grid-right evento">

                <div class="check-in-row header">
                    <div class="check-in-cell">
                        {{ getEmployeeName(checkInModel.event_changed_by) }}
                    </div>

                    <div class="check-in-cell">
                        {{ checkInModel.event_changed_in | date: 'dd MMMM \'de\' yyyy - HH:mm\'hs\'' }}
                    </div>

                    <div class="check-in-cell">
                        LOCAL
                    </div>

                    <div class="check-in-cell">
                        MONTAGEM
                    </div>

                    <div class="check-in-cell">
                        EVENTO
                    </div>

                    <div class="check-in-cell">
                        DESMONTAGEM 
                    </div>
                </div>

                <div class="check-in-row data">
                    <div class="check-in-cell">
                        <a class="icon-button" mat-button target="_blank"
                            [routerLink]="['/events/new']">
                            <mat-icon>add</mat-icon>
                        </a>

                        <span class="position-relative text-ellipsis cursor-pointer"
                            [title]="place ? place.name : 'Evento'"
                            (click)="eventMatSelect.open(); loadEvents()">
                            {{ place && place.name ? place.name : 'Selecionar local do evento' }}

                            <mat-select class="select-hidden col-md-3" #eventMatSelect
                                [(ngModel)]="checkInModel.event_id"
                                (ngModelChange)="updateEvent()">
                                <mat-option *ngFor="let event of eventsView; trackBy: trackByEvent"
                                    [value]="event.id">
                                    {{ (event.ini_date | date: 'MM/yy') + ' - ' + event.place.name }}
                                </mat-option>
                            </mat-select>
                        </span>
                    </div>

                    <div class="check-in-cell">
                        {{ (selectedEvent.ini_date_mounting | date: 'dd MMM yy') || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (selectedEvent.ini_date | date: 'dd MMM yy') || '-' }}
                    </div>

                    <div class="check-in-cell">
                        {{ (selectedEvent.ini_date_unmounting | date: 'dd MMM yy') || '-' }}
                    </div>
                </div>

            </div>

        </div>
        
        <cb-check-in-obs [(ngModel)]="checkInModel.approval_note" name="approval_note" id="approval_note"></cb-check-in-obs>

    </mat-expansion-panel>

</mat-accordion>