<mat-accordion>
    <mat-expansion-panel *ngFor="let task of sortedTasks; let i = index" [expanded]="i == expandedIndex">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <p class="lead d-flex align-items-baseline">
                    <span>{{ taskService.contractNfDisplay(task) }}</span>

                    <br>

                    <span *ngIf="task?.contract_nf_files?.length > 0" class="lead subtitle ml-2">
                        {{ task?.contract_nf_files[task.contract_nf_files.length - 1]?.responsible?.name + ' | ' + (task.contract_nf_files[task.contract_nf_files.length - 1].updated_at | date: 'dd/MM/yyyy HH:mm') }}
                    </span>
                </p>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <cb-file-upload
            [properties]="{ task : task }"
            [files]="task.contract_nf_files"
            [fileServiceInterface]="contractNfService"
            [typeForm]="typeForm"
            [readOnly]="task.budget != null"
            [readOnlyMessage]="'Após orçamento preenchido, não é possível alterar os arquivos'"
            (uploadEmitter)="uploadDone(task)"
            (changed)="onChanged(task, $event)"
        ></cb-file-upload>

        <button mat-button matTooltip="Download completo" class="aux-button" type="button" (click)="downloadAll(task)">
            <mat-icon>folder</mat-icon>
        </button>

        <div class="row">
            <div class="col-md-12 text-right">
                <button mat-button type="button" *ngIf="showButtonSpecification(task) && isAttendance != null"
                    class="cb-button button-navigate"
                    matTooltip="Ir para próxima etapa"
                    (click)="navigateTo(getRoute(task))">
                    {{ getText() }}
                </button>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>