.button {
  display: flex;

  align-items: center;

  gap: 8px;

  padding: 8px 16px;

  border-radius: 10px;

  font-size: 13px;

  line-height: 1.5;

  &:focus-visible {
    outline: 2px #000000 solid !important;
    outline-offset: 2px;
  }

  &--transparent {
    border: 1px solid var(--color-gray-300);

    background-color: #00000000;

    color: var(--color-gray-700);

    &:hover,
    &:active {
      background-color: var(--color-gray-50);
    }
  }

  &--info {
    border: none;

    background-color: var(--color-blue-600);

    color: #ffffff;

    &:hover,
    &:active {
      background-color: var(--color-blue-700);
    }
  }

  &--error {
    border: none;

    background-color: var(--color-red-600);

    color: #ffffff;

    &:hover,
    &:active {
      background-color: var(--color-red-700);
    }
  }

  &--success {
    border: none;

    background-color: var(--color-green-600);

    color: #ffffff;

    &:hover,
    &:active {
      background-color: var(--color-green-700);
    }
  }
}
