.my-container {
  background-color: #ffffff;

  padding-bottom: 32px;

  margin-bottom: 0 !important;
}

#containerJobTabs {
  padding: 0;

  background-color: #ffffff;

  &::ng-deep .mat-tab-header-pagination {
    z-index: 1;
  }
}
