<div class="my-container">
  <h3 class="lead">{{ job?.id != undefined ? 'Job ' + showId(job) + ' | ' + displayNameEvent(job) : 'Jobs'}}</h3>
</div>

<div id="containerJobTabs" class="col-md-12">
  <mat-tab-group [selectedIndex]="selectedIndex" (selectedTabChange)="tab($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Informações'"
          [status]="tabStatus.info_check"
        ></cb-job-tab>
      </ng-template>
      
      <cb-job-form
        [typeForm]="typeForm"
        (changed)="loadTabsStatus()"
        (jobEmitter)="setJob($event)"
        (isAdminEmitter)="setIsAdmin($event)"
      ></cb-job-form>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Briefing'"
          [status]="tabStatus.briefing_check"
        ></cb-job-tab>
      </ng-template>

      <cb-briefing
        [job]="job"
      ></cb-briefing>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Projeto'"
          [status]="tabStatus.project_check"
        ></cb-job-tab>
      </ng-template>

      <cb-projects *ngIf="job?.id != undefined"
        [job]="job"
        (changed)="loadTabsStatus()"
        (requestJobReloadEmitter)="reload()"
      ></cb-projects>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Memorial descritivo'"
          [status]="tabStatus.descriptive_memorial_check"
        ></cb-job-tab>
      </ng-template>

      <cb-specification *ngIf="job?.id != undefined"
        [job]="job"
        (changed)="loadTabsStatus()"
      ></cb-specification>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Check-in'"
          [status]="tabStatus.checkin_check"
        ></cb-job-tab>
      </ng-template>
      
      <cb-check-in *ngIf="job?.id != undefined"
        [job]="job"
        [typeForm]="typeForm"
        [valorTotalExtrasRecebido]="valorTotalExtrasRecebido"
        (changed)="loadTabsStatus()"
      ></cb-check-in>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Extras'"
          [status]="tabStatus.checkin_check"
        ></cb-job-tab>
      </ng-template>

      <cb-extras #extras *ngIf="job?.id != undefined"
        [job]="job"
        [typeForm]="typeForm"
      ></cb-extras>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Orçamento'"
          [status]="tabStatus.budget_check"
        ></cb-job-tab>
      </ng-template>

      <cb-budget-form *ngIf="job?.id != undefined"
        [typeForm]="typeForm"
        [job]="job"
        (changed)="loadTabsStatus()"
      ></cb-budget-form>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Contrato'"
        ></cb-job-tab>
      </ng-template>

      <cb-proposals *ngIf="job?.id != undefined"
        [job]="job"
        [containerWidth]="containerWidth"
      ></cb-proposals>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Contrato e NF'"
          [status]="tabStatus.contract_nf_check"
        ></cb-job-tab>
      </ng-template>

      <cb-contract-nf
        [job]="job"
      ></cb-contract-nf>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Fotos do projeto'"
          [status]="tabStatus.project_photos_check"
        ></cb-job-tab>
      </ng-template>

      <cb-project-photos
        [job]="job"
      ></cb-project-photos>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Detalhamento'"
          [status]="'DEV'"
        ></cb-job-tab>
      </ng-template>

      <cb-developing
        [text]="''"
      ></cb-developing>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Ficha de custo'"
          [status]="'DEV'"
        ></cb-job-tab>
      </ng-template>

      <cb-developing
        [text]="''"
      ></cb-developing>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Lista de compras'"
          [status]="'DEV'"
        ></cb-job-tab>
      </ng-template>

      <cb-developing
        [text]="''"
      ></cb-developing>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <cb-job-tab
          [tab]="'Feedback'"
          [status]="'DEV'"
        ></cb-job-tab>
      </ng-template>

      <cb-developing></cb-developing>
    </mat-tab>
  </mat-tab-group>
</div>
