<div id="my-master-container">
    <cb-header
        #navbar
        (toggleMenu)="menu.toggle($event)"
        (toggleFeed)="feed.toggle($event)">
    </cb-header>

    <div id="my-second-container" [class.max-size]="!menu.opened">
        <cb-menu
            #menu
            (close)="navbar.openMenu(false)"
        ></cb-menu>

        <div id="all-container" class="cb-scroll {{currentRoute}}">
            <router-outlet></router-outlet>
        </div>

        <cb-notification-bar
            #feed
            (notificationLoadEmitter)="navbar.notificationsLoaded($event)"
            (close)="navbar.openFeed(false)"
        ></cb-notification-bar>
    </div>
</div>