.mat-column-id {
    width: 10%;
  }
  
  .mat-column-client {
      width: 10%;
  }
  
  .mat-column-event {
      width: 10%;
  }
  
  .mat-column-date {
      width: 8%;
  }
  
  .mat-column-available-date {
      width: 8%;
  }
  
  .mat-column-type {
      width: 8%;
  }
  
  .mat-column-attendance {
      width: 11%;
  }
  
  .mat-column-creation {
      width: 8%;
  }
  
  .mat-column-status_updated {
      width: 9%;
  }
  
  .mat-column-status {
      width: 10%;
  }
  
  .mat-column-action {
      width: 8%;
  }
  
  ::ng-deep .langSelect div.mat-select-arrow-wrapper {
      display: none;
  }
  
  ::ng-deep .langSelect.mat-select {
      display: inline;
  }
  
  ::ng-deep .langSelect.mat-select .mat-select-trigger > * {
      display: none;
  }
  
  ::ng-deep .langSelect.mat-select .mat-select-trigger {
      height: 0;
      margin-top: 0;
  }
  
  .mat-cell, .mat-header-cell {
    text-align: center;
  }
  
  .updated-info-employee {
    font-size: 12px;
  }
  