.search {
  display: flex;

  flex-direction: row;

  align-items: center;

  gap: 8px;

  width: 100%;

  padding: 8px 16px;

  border: 1px solid #d1d5db;
  border-radius: 10px;

  &:has(&__field:focus) {
    outline: 3px #2b7fff solid !important;
  }

  &:focus-visible {
    outline: 2px #000000 solid !important;
    outline-offset: 2px;
  }

  &__icon {
    display: flex;

    width: 16px;
    height: 16px;

    color: #99a1af;

    & cb-icon-search {
      display: contents;
    }
  }

  &__field {
    width: 100%;

    padding: 0;

    border: none;

    outline: none;

    color: #4a5565;

    font-size: 13px;

    line-height: 1.5;

    &::placeholder {
      color: #4a556580;
    }
  }
}
