<div class="fundo">
    <img class="logo" src="../../../assets/images/login/logo.png"/>
    <h3>Workflow <span>&</span> Projetos</h3>
    <div class="container">
        <div class="titulo">
            <h4>Recuperação de Senha</h4>
            <p id="subtitulo">Recupere a senha</p>
        </div>
        <form>
            <div class="spaceInput">
                <mat-icon matSuffix>person</mat-icon>
                <input name="email" type="text" placeholder="Digite seu email">
            </div>
            <button class="btn" [routerLink]="['/auth_cod']">Enviar</button>
        </form>
    </div>
</div>