.category-tag {
  display: flex;

  &__element {
    display: flex;

    align-items: center;
    justify-content: center;

    gap: 4px;

    padding: 4px 8px;

    border-radius: 4px;

    font-size: 12px;
    font-weight: 400;

    line-height: calc(1 / 0.75);

    &__dot {
      width: 4px;
      height: 4px;

      border-radius: 4px;
    }

    &--1 {
        background-color: var(--color-gray-50);

        color: var(--color-gray-500);

        & .category-tag__element__dot {
            background-color: var(--color-gray-500);
        }
    }

    &--2 {
        background-color: var(--color-gray-100);

        color: var(--color-gray-600);

        & .category-tag__element__dot {
            background-color: var(--color-gray-600);
        }
    }

    &--3 {
        background-color: var(--color-yellow-50);

        color: var(--color-yellow-600);

        & .category-tag__element__dot {
            background-color: var(--color-yellow-600);
        }
    }

    &--4 {
        background-color: var(--color-pink-50);

        color: var(--color-pink-400);

        & .category-tag__element__dot {
            background-color: var(--color-pink-400);
        }
    }

    &--5 {
        background-color: var(--color-orange-50);

        color: var(--color-orange-500);

        & .category-tag__element__dot {
            background-color: var(--color-orange-500);
        }
    }

    &--6 {
        background-color: var(--color-red-50);

        color: var(--color-red-500);

        & .category-tag__element__dot {
            background-color: var(--color-red-500);
        }
    }

    &--7 {
        background-color: var(--color-green-50);

        color: var(--color-green-600);

        & .category-tag__element__dot {
            background-color: var(--color-green-600);
        }
    }

    &--8 {
        background-color: var(--color-green-100);

        color: var(--color-green-700);

        & .category-tag__element__dot {
            background-color: var(--color-green-700);
        }
    }

    &--9 {
        background-color: var(--color-pink-100);

        color: var(--color-pink-500);

        & .category-tag__element__dot {
            background-color: var(--color-pink-500);
        }
    }
    
    &--10 {
        background-color: var(--color-pink-200);

        color: var(--color-pink-600);

        & .category-tag__element__dot {
            background-color: var(--color-pink-600);
        }
    }

    &--11 {
        background-color: var(--color-purple-50);

        color: var(--color-purple-400);

        & .category-tag__element__dot {
            background-color: var(--color-purple-400);
        }
    }

    &--12 {
        background-color: var(--color-cyan-100);

        color: var(--color-cyan-600);

        & .category-tag__element__dot {
            background-color: var(--color-cyan-600);
        }
    }

    &--13 {
        background-color: var(--color-blue-50);

        color: var(--color-blue-500);

        & .category-tag__element__dot {
            background-color: var(--color-blue-500);
        }
    }

    &--14 {
        background-color: var(--color-blue-100);

        color: var(--color-blue-600);

        & .category-tag__element__dot {
            background-color: var(--color-blue-600);
        }
    }

    &--15 {
        background-color: var(--color-purple-50);

        color: var(--color-purple-600);

        & .category-tag__element__dot {
            background-color: var(--color-purple-600);
        }
    }

    &--16 {
        background-color: var(--color-purple-100);

        color: var(--color-purple-800);

        & .category-tag__element__dot {
            background-color: var(--color-purple-800);
        }
    }

    &--17 {
        background-color: var(--color-yellow-100);

        color: var(--color-yellow-700);

        & .category-tag__element__dot {
            background-color: var(--color-yellow-700);
        }
    }

    &--18 {
        background-color: var(--color-yellow-200);

        color: var(--color-yellow-900);

        & .category-tag__element__dot {
            background-color: var(--color-yellow-900);
        }
    }
  }
}
